<% if flash[:notice].present? %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert].present? %>
  <div class="alert alert-warning"><%= flash[:alert] %></div>
<% end %>
